#simulation {
    position: relative;
    height: 200px;
}

#object {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20mm;
    height: 20mm;
    background-color: blue;
    transform: translateX(-50%);
}

#shadow {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    transform-origin: top left;
    transform: translateX(-50%) scaleX(0);
}
